<div class="house-form-container">
  <span class="house-form-text">House Formulary</span>
  <app-sidebar rootClassName="sidebar-root-class-name2"></app-sidebar>
  <input type="text" placeholder="Name" class="house-form-textinput input" />
  <input
    type="text"
    placeholder="Property address"
    class="house-form-textinput01 input"
  />
  <input
    type="text"
    placeholder="Sale price"
    class="house-form-textinput02 input"
  />
  <input
    type="text"
    placeholder="Nearby amenities (schools, hospitals, public transportation, etc.)"
    class="house-form-textinput03 input"
  />
  <input
    type="text"
    placeholder="Land size (square meters or acres)"
    class="house-form-textinput04 input"
  />
  <input type="text" placeholder="Email" class="house-form-textinput05 input" />
  <input
    type="text"
    placeholder="Property type (house, apartment, condo, etc.)"
    class="house-form-textinput06 input"
  />
  <input
    type="text"
    placeholder="Property condition (new, used, under construction)"
    class="house-form-textinput07 input"
  />
  <input
    type="text"
    placeholder="Property condition (new, used, under construction)"
    class="house-form-textinput08 input"
  />
  <input
    type="text"
    placeholder="Building size (square meters or square feet)"
    class="house-form-textinput09 input"
  />
  <input
    type="text"
    placeholder="Phone number"
    class="house-form-textinput10 input"
  />
  <input
    type="text"
    placeholder="Number of bedrooms"
    class="house-form-textinput11 input"
  />
  <input
    type="text"
    placeholder="Additional features (pool, garage, garden, etc.)"
    class="house-form-textinput12 input"
  />
  <input
    type="text"
    placeholder="Availability Date or Estimated Closing Date"
    class="house-form-textinput13 input"
  />
  <input
    type="text"
    placeholder="Year of construction"
    class="house-form-textinput14 input"
  />
  <input
    type="text"
    placeholder="Property description (highlighting special features)"
    class="house-form-textinput15 input"
  />
  <input
    type="text"
    placeholder="Neighborhood or area"
    class="house-form-textinput16 input"
  />
  <input
    type="text"
    placeholder="Number of bathrooms"
    class="house-form-textinput17 input"
  />
  <input
    type="text"
    placeholder="Property floor plan (possibly as an attachment)"
    class="house-form-textinput18 input"
  />
  <input
    type="text"
    placeholder="Safety and Regulation Information"
    class="house-form-textinput19 input"
  />
  <h1 class="house-form-text01">
    <span>General Property Information</span>
    <br />
  </h1>
  <h1 class="house-form-text04">
    <span>Location Information</span>
    <span><span [innerHTML]="raw718m"></span></span>
  </h1>
  <h1 class="house-form-text07">Property Details</h1>
  <h1 class="house-form-text08">
    <span>
      Basic Contact Information
      <span [innerHTML]="rawfpoc"></span>
    </span>
    <br />
    <span>
      for the Owner
      <span [innerHTML]="rawgx4y"></span>
    </span>
  </h1>
  <h1 class="house-form-text12">
    <span>
      Availability date
      <span [innerHTML]="rawtl0x"></span>
    </span>
    <br />
    <span>and Safety details</span>
  </h1>
  <button type="button" class="house-form-button button">
    Send House details
  </button>
</div>
