<div class="login-container">
  <div class="login-hero">
    <div class="login-container1">
      <img
        alt="image"
        src="/assets/Images/image%20(4)-500h.png"
        class="login-image"
      />
      <span class="login-text">Welcome to HomeFinder!</span>
      <span class="login-text1">Discover properties for sale near you</span>
    </div>
  </div>
  <div class="login-hero1">
    <div class="login-container2">
      <h1 class="login-text2">Login</h1>
      <span class="login-text3">Property adress</span>
      <input
        type="text"
        placeholder="Enter your Property adress"
        class="login-textinput input"
      />
      <span class="login-text4">Password</span>
      <input
        type="text"
        placeholder="Enter your Password"
        class="login-textinput1 input"
      />
      <div class="login-btn-group">
        <a routerLink="/home" class="login-navlink button">Sign In</a>
      </div>
      <span class="login-text5">Forgot your password?</span>
    </div>
  </div>
</div>
