<body class="body">
    <mat-card class="registrar-container">
      <mat-card-header>
        <mat-card-title class="registrar-text">Publicacion</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="registrar()" class="registrar-container1">
  
  
          <!-- Título -->
          <mat-form-field appearance="outline">
            <mat-label>Título</mat-label>
            <input matInput formControlName="titulo" type="text" placeholder="Título">
          </mat-form-field>
  
          <!-- Descripción -->
          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput formControlName="descripcion" type="text" placeholder="Descripción">
          </mat-form-field>
  
          <!-- Ubicación -->
          <mat-form-field appearance="outline">
            <mat-label>Ubicación</mat-label>
            <input matInput formControlName="ubicacion" type="text" placeholder="Ubicación">
          </mat-form-field>

          <!-- Tipo Vivienda -->
          <mat-form-field appearance="outline">
            <mat-label>Tipo Vivienda</mat-label>
            <mat-select formControlName="tipoVivienda">
                <mat-option value="20">1-STORY 1946 & NEWER ALL STYLES</mat-option>
                <mat-option value="30">1-STORY 1945 & OLDER</mat-option>
                <mat-option value="40">1-STORY W/FINISHED ATTIC ALL AGES</mat-option>
                <mat-option value="45">1-1/2 STORY-UNFINISHED ALL AGES</mat-option>
                <mat-option value="50">1-1/2 STORY FINISHED ALL AGES</mat-option>
                <mat-option value="60">2-STORY 1946 & NEWER ALL STYLES</mat-option>
                <mat-option value="70">2-STORY 1945 & OLDER</mat-option>
                <mat-option value="75">2-1/2STORY ALL AGES</mat-option>
                <mat-option value="80">SPLIT OR MULTI-LEVEL</mat-option>
                <mat-option value="85">SPLIT FOYER</mat-option>
                <mat-option value="90">DUPLEX - ALL STYLES AND AGES</mat-option>
                <mat-option value="120">1-STORY PUD (PLANNED UNIT DEVELOPMENT) - 1946 & NEWER</mat-option>
                <mat-option value="150">1-1/2 STORY PUD - ALL AGES</mat-option>
                <mat-option value="160">2-STORY PUD - 1946 & NEWER</mat-option>
                <mat-option value="180">PUD - MULTILEVEL -INCL SPLIT LEV/FOYER</mat-option>
                <mat-option value="190">2 FAMILY CONVERSION - ALL STYLES AND AGES</mat-option>
            </mat-select>
          </mat-form-field>

  
          <!-- Calle Conectada En Pies -->
          <mat-form-field appearance="outline">
            <mat-label>Calle Conectada En Pies (float)</mat-label>
            <input matInput formControlName="calleConectadaEnPies" type="number" step="0.1" placeholder="0-313">
          </mat-form-field>
  
          <!-- Area Lote -->
          <mat-form-field appearance="outline">
            <mat-label>Area Lote</mat-label>
            <input matInput formControlName="areaLote" type="number" placeholder="1300-215245">
          </mat-form-field>
  
          <!-- Calidad Materiales -->
          <mat-form-field appearance="outline">
            <mat-label>Calidad Materiales</mat-label>
            <input matInput formControlName="calidadMateriales" type="number" placeholder="1-10">
          </mat-form-field>
  
          <!-- Condicion Casa -->
          <mat-form-field appearance="outline">
            <mat-label>Condicion Casa </mat-label>
            <input matInput formControlName="condicionCasa" type="number" placeholder="1-9">
          </mat-form-field>

          <!-- Año Construccion  -->
          <mat-form-field appearance="outline">
            <mat-label>Año Construccion</mat-label>
            <input matInput formControlName="añoConstruccion" type="number" placeholder="C1872-2010">
          </mat-form-field>

          <!-- Año Remodelado  -->
          <mat-form-field appearance="outline">
            <mat-label>Año Remodelado </mat-label>
            <input matInput formControlName="añoRemodelado" type="number" placeholder="1950-2010">
          </mat-form-field>

          <!-- Area Revestimiento  -->
          <mat-form-field appearance="outline">
            <mat-label>Area Revestimiento (float) </mat-label>
            <input matInput formControlName="areaRevestimiento" type="number" placeholder="0-1600">
          </mat-form-field>
  
          <!-- Area Sotano 1   -->
          <mat-form-field appearance="outline">
            <mat-label>Area Sotano 1 </mat-label>
            <input matInput formControlName="areaSotano1" type="number" placeholder="0-5644">
          </mat-form-field>

          <!-- Area Sotano 2   -->
          <mat-form-field appearance="outline">
            <mat-label>Area Sotano 2 </mat-label>
            <input matInput formControlName="areaSotano2" type="number" placeholder="0-1474">
          </mat-form-field>

          <!-- Area Sotano Sin Terminar  -->
          <mat-form-field appearance="outline">
            <mat-label>Area Sotano Sin Terminar </mat-label>
            <input matInput formControlName="areaSotanoSinTerminar" type="number" placeholder="0-2336">
          </mat-form-field>
  
          <!-- Area Sotano Total  -->
          <mat-form-field appearance="outline">
            <mat-label>Area Sotano Total  </mat-label>
            <input matInput formControlName="areaSotanoTotal" type="number" placeholder="0-6110">
          </mat-form-field>

          <!-- Area Primer Piso  -->
          <mat-form-field appearance="outline">
            <mat-label>Area Primer Piso</mat-label>
            <input matInput formControlName="areaPrimerPiso" type="number" placeholder="334-4692">
          </mat-form-field>

          <!-- Area Segundo Piso -->
          <mat-form-field appearance="outline">
            <mat-label>Area Segundo Piso</mat-label>
            <input matInput formControlName="areaSegundoPiso" type="number" placeholder="0-2065">
          </mat-form-field>
  
          <!--Area Terminada Baja Calidad -->
          <mat-form-field appearance="outline">
            <mat-label>Area Terminada Baja Calidad </mat-label>
            <input matInput formControlName="areaTerminadaBajaCalidad" type="number" placeholder="0-572">
          </mat-form-field>

          <!-- Area Vivienda Sobre Suelo -->
          <mat-form-field appearance="outline">
            <mat-label>Area Vivienda Sobre Suelo</mat-label>
            <input matInput formControlName="areaViviendaSobreSuelo" type="number" placeholder="334-5642">
          </mat-form-field>
  
          <!-- Baños Completos Sotano -->
          <mat-form-field appearance="outline">
            <mat-label>Baños Completos Sotano </mat-label>
            <input matInput formControlName="bañosCompletosSotano" type="number" placeholder="0-3">
          </mat-form-field>

          <!-- Baños Medios Sotano -->
          <mat-form-field appearance="outline">
            <mat-label>Baños Medios Sotano  </mat-label>
            <input matInput formControlName="bañosMediosSotano" type="number" placeholder="0-2">
          </mat-form-field>

          <!-- Baños Completos Sobre Suelo -->
          <mat-form-field appearance="outline">
            <mat-label>Baños Completos Sobre Suelo</mat-label>
            <input matInput formControlName="bañosCompletosSobreSuelo" type="number" placeholder="0-3">
          </mat-form-field>

          <!-- Baños Medios Sobre Suelo -->
          <mat-form-field appearance="outline">
            <mat-label>Baños Medios Sobre Suelo</mat-label>
            <input matInput formControlName="bañosMediosSobreSuelo" type="number" placeholder="0-2">
          </mat-form-field>


          
  
          <!-- Submit Button -->
          <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading" class="registrar-navlink button">Registrar</button>
  
        </form>
      </mat-card-content>
  
      <mat-card-actions>
        <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
      </mat-card-actions>
    </mat-card>
  </body>
  