<div class="login-container">
    <div class="left">
      <div class="login-container1">
        <img alt="image" style="width: 100%;" src="../../../assets/img/home.jpeg" class="login-image" />
        <span class="login-text1"><strong>Discover properties for sale near you</strong></span>
      </div>
    </div>
    <div class="right">
      <div class="login-container2">
        <mat-card class="login-form-container">
            <mat-card-header>
              <mat-card-title class="login-text">Login</mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <form [formGroup]="form" (ngSubmit)="ingresar()" class="login-container1">
        
                <mat-form-field appearance="outline" >
                  <mat-label class="login-text06">Usuario</mat-label>
                  <input matInput formControlName="usuario" type="text" placeholder="Enter your username">
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                  <mat-label class="login-text04">Contraseña</mat-label>
                  <input matInput formControlName="password" type="password" placeholder="Enter your Password">
                </mat-form-field>
        
                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading" class="registrar-navlink button">Ingresar</button>
                <a routerLink="/registro" class="login-navlink1">
                    No tienes Cuenta?
                  </a>
              </form>
            </mat-card-content>
        
            <mat-card-actions>
              <mat-spinner *ngIf="loading" diameter="30"></mat-spinner>
            </mat-card-actions>
        </mat-card>
    
      </div>
    </div>
</div>
