/* Estilos generales */

.login-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar contenido horizontalmente */
  justify-content: center; /* Centrar contenido verticalmente */
  width: 70%;
  height: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar contenido horizontalmente */
  justify-content: center; /* Centrar contenido verticalmente */
  width: 20%;
  height: 100%;
}
.login-text1{
  text-align: center;
}
/* Puedes personalizar y agregar más estilos a otros elementos si lo necesitas */
