<div class="cart-container">
  <app-header rootClassName="header-root-class-name1"></app-header>
  <app-footer rootClassName="footer-root-class-name"></app-footer>
  <div class="cart-hero">
    <img
      alt="image"
      src="/assets/Images/image%20(5)-1500h.png"
      class="cart-image"
    />
    <div class="cart-container1">
      <h1 class="cart-text">Beautiful Family Home</h1>
      <div class="cart-profile">
        <img
          alt="image"
          src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;w=200"
          class="cart-image1"
        />
        <div class="cart-container2">
          <span class="cart-text01">Property Owner</span>
          <span class="cart-text02">John Doe</span>
        </div>
      </div>
      <span class="cart-text03">
        <span>
          This beautiful family home is perfect for creating lasting memories.
          With spacious rooms and a lovely garden, it offers a comfortable and
          cozy living experience. Don&apos;t miss out on this opportunity to
          make it your own!
        </span>
        <span><span [innerHTML]="rawj0lg"></span></span>
        <span><span [innerHTML]="raw14eg"></span></span>
      </span>
      <div class="cart-container3">
        <div class="cart-container4">
          <span>Current Offer</span>
          <h1 class="cart-text08">4.1</h1>
        </div>
        <div class="cart-container5">
          <span>Auctions ends</span>
          <h1 class="cart-text10">
            <span>2d 11h 36m 42s</span>
            <br />
          </h1>
        </div>
      </div>
      <div class="cart-container6">
        <input type="text" placeholder="4.2" class="cart-textinput input" />
        <select class="cart-select">
          <option><span [innerHTML]="rawwxih"></span></option>
          <option value="time1">1 days</option>
          <option value="time2">3 days</option>
        </select>
      </div>
      <div class="cart-btn-group">
        <button class="cart-button button">Place Offer</button>
        <button class="cart-button1 button">Buy now</button>
      </div>
    </div>
  </div>
</div>
