<div class="payment-container">
  <app-header rootClassName="header-root-class-name"></app-header>
  <div class="payment-container01">
    <div class="payment-container02">
      <h1 class="payment-text">Payment Details</h1>
      <select class="payment-select">
        <option value="Type of Payment">Type of Payment</option>
        <option value="Option 2">Annualy</option>
        <option value="Option 3">Monthly</option>
      </select>
      <div class="payment-container03">
        <span class="payment-text01">
          <span>Cozy Bedroom</span>
          <br />
        </span>
        <span class="payment-text04">
          <span>$56</span>
          <br />
        </span>
      </div>
      <div class="payment-container04">
        <span class="payment-text07">
          <span>Spacious Living Room</span>
          <br />
        </span>
        <span class="payment-text10">
          <span>$45</span>
          <br />
        </span>
      </div>
      <div class="divider-horizontal"></div>
      <div class="payment-container05">
        <span class="payment-text13">
          <span>Total Cost</span>
          <br />
        </span>
        <span class="payment-text16">
          <span>$101</span>
          <br />
        </span>
      </div>
    </div>
    <div class="payment-container06">
      <h1 class="payment-text19">Card Details</h1>
      <div class="payment-container07">
        <input
          type="text"
          placeholder="Cardholder´s Name"
          class="payment-textinput input"
        />
        <input
          type="text"
          placeholder="Card Number"
          class="payment-textinput1 input"
        />
        <div class="payment-container08">
          <input
            type="text"
            placeholder="MM/YY"
            class="payment-textinput2 input"
          />
          <input
            type="text"
            placeholder="CVV"
            class="payment-textinput3 input"
          />
        </div>
      </div>
    </div>
    <button type="button" class="payment-button button">
      <span>
        <span>End The payment</span>
        <br />
      </span>
    </button>
    <button type="button" class="payment-button1 button">
      <span>
        <span>Cancel the payment</span>
        <br />
      </span>
    </button>
  </div>
  <div class="payment-container09">
    <a routerLink="/home" class="payment-navlink">
      <svg viewBox="0 0 1060.5714285714284 1024" class="payment-icon">
        <path
          d="M1024 457.143v109.714c0 10.286-8 18.286-18.286 18.286h-713.143v128c0 7.429-4 13.714-10.857 16.571s-14.286 1.714-20-2.857l-219.429-200c-3.429-3.429-5.714-8-5.714-13.143v0c0-5.143 2.286-10.286 5.714-13.714l219.429-202.286c5.714-5.143 13.143-6.286 20-3.429 6.286 2.857 10.857 9.143 10.857 16.571v128h713.143c10.286 0 18.286 8 18.286 18.286z"
        ></path>
      </svg>
    </a>
    <h1 class="payment-text26">Payment</h1>
  </div>
  <app-footer rootClassName="footer-root-class-name1"></app-footer>
</div>
